.navbar{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 40;
  display: block;
  width: 100%;
  overflow: hidden;
  background-color: rgba(2, 6, 23, .6);
  padding: 0 1rem;
  .top{
    height: 4rem;
    line-height: 4rem;
    color: #ffffff;
    font-size: 1.5rem;
  }
  .walletBtn{
    font-size: 1rem;
  }
}
.content{
  padding-top: 6rem;
  .ant-input-disabled{
    background-color: #dddddd;
  }
  .tabs{
    width: 100%;
    text-align: center;
    padding-bottom: 4rem;
  }
  .formContent{
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1100px;
    margin: 0 auto;
    >div{
      width: 500px;
      margin-bottom: 1rem;
      .label{
        width: 150px;
        color: #ffffff;
      }
    }
  }
  .cards{
    max-width: 800px;
    padding: 0 1rem;
    margin: 0 auto;
    .ant-col{
      min-width: 300px;
      margin-bottom: 1rem;
      .ant-card{
        min-height: 150px;
        background: linear-gradient(90deg, rgba(11, 102, 167, 0.7) 0%, rgb(135, 208, 104) 100%);
        .ant-card-head{
          text-align: center;
          font-size: 1.5rem;
        }
        .ant-card-body{
          font-size: 1rem;
        }
      }
    }

  }
  .tagCard{
    min-width: 100px;
    min-height: 50px;
    font-size:1rem;
    line-height: 50px;
    text-align:center;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal;
    .ant-card-body{
      padding: 0;
    }
  }
  .editTitle{
    color: #ffffff;
    text-align: center;
    padding-bottom: 2rem;
  }
  .backArrow{
    padding-top: 2rem;
  }
}
.footer{
  text-align: center;
  padding-top: 2rem;
  .walletBtn{
    width: 10rem;
    margin: 0 auto;
  }
}


@media (max-width: 768px){
  .navbar .top{
    width: 100%;
    text-align: center;
  }
  .content .formContent{
    justify-content: center;
  }
}

@media (max-width: 1000px){
  .content .formContent{
    justify-content: center;
  }
}